/*-------------------------------------------------- Structure */
section:not(#home-section, #recensioni-section, #chi-sono-section, #contatti-section) {
  min-height: 100vh;
}
section:not(#home-section, #recensioni-section, #chi-sono-section, #contatti-section) div.container-component {
  min-height: inherit;
  display: flex !important;
  align-items: start !important;
}
.site-main > .inner > * > .full,
.site-main > .inner > header > div {
  width: calc(100% + 8rem) !important;
}

/* Header */

img[alt="logo_frullatodiffra"] {
  max-width: 25px !important;
}

.container-component:has(img[alt="logo_frullatodiffra"]) > .wrapper > .inner > :nth-child(1) {
    width: auto !important;
}
.container-component:has(img[alt="logo_frullatodiffra"]) > .wrapper > .inner {
    justify-content: space-between;
    gap: 30px;
}

.links-component {
    line-height: 1;
    position: relative;
    top: 3px;
}

@media screen and (max-width: 576px) {
  .container-component:has(img[alt="logo_frullatodiffra"]) > .wrapper > .inner {
    flex-direction: row;
    align-items: end !important;
    gap: 0;
  }
  .container-component:has(img[alt="logo_frullatodiffra"]) > .wrapper > .inner > * > *:last-child {
    flex-direction: column;
    align-items: end;
    gap: 15px;
  }
  .image-component.style-2 > .frame {
    width: 100% !important;
  }
  img[alt="logo_frullatodiffra"] {
    max-width: 45px !important;
  }
}


/*-------------------------------------------------- Copyright */
/* #home-section p.text-component.style-3 {
  margin-top: 60px !important;
} */

/* Buttons & inputs */

button:not(#recensioni-section button),
a[role="button"]:not(#recensioni-section a) {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

button:not(#recensioni-section button)::before,
a[role="button"]:not(#recensioni-section a)::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #EDE7E4;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.35s ease;
  z-index: -1;
}

button:not(#recensioni-section button):hover::before,
a[role="button"]:not(#recensioni-section a):hover::before {
  transform: scaleX(1);
}


/*-------------------------------------------------- Form */

textarea {
    max-width: 100%;
}

div.checkbox:has(input#form02-consent) label {
    align-items: start;
}

/*-------------------------------------------------- Review Links */
a[role="button"]:not(ul.icons-component a),
a[role="button"]:not(ul.icons-component a):hover {
  padding-left: 0 !important;
  padding-right: 0 !important;
  border: 0 !important;
  border-color: transparent !important;
  justify-content: start !important;
}

#recensioni-section ul li a {
  text-align: left;
  padding: 0;
  margin-top: 20px;
  transition: ease .3s;
  border-bottom: 1px solid #EDE7E4 !important;
}

#recensioni-section ul li a::before {
  display: block;
  font-family: 'Courier Prime', monospace;
  letter-spacing: -0.05rem;
  font-size: 0.75rem;
  line-height: 1.5;
  font-weight: 400;
}

/*-------------------------------------------------- Director & Movie Dates */

/* Hamnet */
#recensioni-section a[href$='#hamnet']::before {
  content: 'Chloé Zhao | 2025';
}
/* Parasite */
#recensioni-section a[href$='#parasite']::before {
  content: 'Bong Joon-Ho | 2019';
}
/* Fantastic Mr.Fox */
#recensioni-section a[href$='#fantastic-mr-fox']::before {
  content: 'Wes Anderson | 2009';
}
/* Challengers */
#recensioni-section a[href$='#challengers']::before {
  content: 'Luca Guadagnino | 2024';
}
/* Cime Tempestose */
#recensioni-section a[href$='#cime-tempestose']::before {
  content: 'Emerald Fennell | 2026';
}
/* Dragon Trainer */
#recensioni-section a[href$='#dragon-trainer']::before {
  content: 'Dean DeBlois | 2025';
}
/* Father Mother Sister Brother */
#recensioni-section a[href$='#father-mother-sister-brother']::before {
  content: 'Jim Jarmusch | 2025';
}
/* Here */
#recensioni-section a[href$='#here']::before {
  content: 'Robert Zemeckis | 2024';
}
/* La La Land */
#recensioni-section a[href$='#la-la-land']::before {
  content: 'Damien Chazelle | 2016';
}
/* La lezione */
#recensioni-section a[href$='#la-lezione']::before {
  content: 'Stefano Mordini | 2025';
}
/* Mrs Doubtfire */
#recensioni-section a[href$='#mrs-doubtfire']::before {
  content: 'Chris Columbus | 1993';
}
/* Saltburn */
#recensioni-section a[href$='#saltburn']::before {
  content: 'Emerald Fennell | 2023';
}
/* The divergent series */
#recensioni-section a[href$='#the-divergent-series']::before {
  content: 'Neil Burger, Robert Schwentke | 2014-2016';
}
/* We live in time */
#recensioni-section a[href$='#we-live-in-time']::before {
  content: 'John Crowley | 2024';
}


#recensioni-section li a:hover {
  transform: translateX(10px);
}


/*-------------------------------------------------- Movie Review Page */

/* Producer & Review date */
section.active h3 span {
  display: flex !important;
  justify-content: space-between;
}
section.active h3 span br {
  display: none;
}

@media screen and (max-width: 576px) {
  section.active h3 span {
    flex-direction: column-reverse;
    gap: 5px;
  }
}

/* Image Credits */
p sup {
    font-size: 10px !important;
}

/* Review Frullati */

div.rating {
  height: 30px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

div.zero {
  background: url(https://m00nflow.github.io/frullatodiffra/img/rating/zero.svg);
}
div.zero-half {
  background: url(https://m00nflow.github.io/frullatodiffra/img/rating/zero-half.svg);
}
div.one {
  background: url(https://m00nflow.github.io/frullatodiffra/img/rating/one.svg);
}
div.one-half {
  background: url(https://m00nflow.github.io/frullatodiffra/img/rating/one-half.svg);
}
div.two {
  background: url(https://m00nflow.github.io/frullatodiffra/img/rating/two.svg);
}
div.two-half {
  background: url(https://m00nflow.github.io/frullatodiffra/img/rating/two-half.svg);
}
div.three {
  background: url(https://m00nflow.github.io/frullatodiffra/img/rating/three.svg);
}
div.three-half {
  background: url(https://m00nflow.github.io/frullatodiffra/img/rating/three-half.svg);
}
div.four {
  background: url(https://m00nflow.github.io/frullatodiffra/img/rating/four.svg);
}
div.four-half {
  background: url(https://m00nflow.github.io/frullatodiffra/img/rating/four-half.svg);
}
div.five {
  background: url(https://m00nflow.github.io/frullatodiffra/img/rating/five.svg);
}
div.five-half {
  background: url(https://m00nflow.github.io/frullatodiffra/img/rating/five-half.svg);
}


/*-------------------------------------------------- Footer */

@media screen and (max-width: 735px) {
    div.inner:has(p#text06) {
        justify-content: center !important;
        align-items: center !important;
        flex-direction: column-reverse !important;
    }
    
    p#text06 {
        text-align: center !important;
    }
    
    div.inner > div:has(ul#icons01) {
        padding-top: 10px !important;
        padding-bottom: 25px !important;
    }
    
    ul#icons01 {
        justify-content: center;
    }
    
    div.inner > div:has(p#text06) {
        padding-bottom: 10px !important;
    }
}