/*-------------------------------------------------- Structure */
section:not(#home-section, #recensioni-section) {
  min-height: 100vh;
}
section:not(#home-section, #recensioni-section) div.container-component {
  min-height: inherit;
  display: flex !important;
  align-items: start !important;
}
.site-main > .inner > * > .full,
.site-main > .inner > header > div {
  width: calc(100% + 8rem) !important;
}

/*-------------------------------------------------- Copyright */
#home-section p.text-component.style-3 {
  margin-top: 60px !important;
}

/*-------------------------------------------------- Review Links */
a[href$='#recensioni'],
a[href$='#recensioni']:hover {
  padding-left: 0 !important;
  border: 0 !important;
  border-color: transparent !important;
  justify-content: start !important;
}

#recensioni-section ul li a {
  text-align: left;
  padding: 0;
  margin-top: 20px;
  transition: ease .3s;
  border-bottom: 1px solid #EDE7E4;
}

#recensioni-section ul li a::before {
  display: block;
  font-family: 'Courier Prime', monospace;
  letter-spacing: -0.05rem;
  font-size: 0.75rem;
  line-height: 1.5;
  font-weight: 400;
}

/*-------------------------------------------------- Director & Movie Dates */

/* Hamnet */
#recensioni-section a[href$='#hamnet']::before {
  content: 'Chloé Zhao | 2025';
}
/* Parasite */
#recensioni-section a[href$='#parasite']::before {
  content: 'Bong Joon-Ho | 2019';
}
/* Fantastic Mr.Fox */
#recensioni-section a[href$='#fantastic-mr-fox']::before {
  content: 'Wes Anderson | 2009';
}
/* Challengers */
#recensioni-section a[href$='#challengers']::before {
  content: 'Luca Guadagnino | 2024';
}
/* Cime Tempestose */
#recensioni-section a[href$='#cime-tempestose']::before {
  content: 'Emerald Fennell | 2026';
}
/* Dragon Trainer */
#recensioni-section a[href$='#dragon-trainer']::before {
  content: 'Dean DeBlois | 2025';
}
/* Father Mother Sister Brother */
#recensioni-section a[href$='#father-mother-sister-brother']::before {
  content: 'Jim Jarmusch | 2025';
}
/* Here */
#recensioni-section a[href$='#here']::before {
  content: 'Robert Zemeckis | 2024';
}
/* La La Land */
#recensioni-section a[href$='#la-la-land']::before {
  content: 'Damien Chazelle | 2016';
}
/* La lezione */
#recensioni-section a[href$='#la-lezione']::before {
  content: 'Stefano Mordini | 2025';
}
/* Mrs Doubtfire */
#recensioni-section a[href$='#mrs-doubtfire']::before {
  content: 'Chris Columbus | 1993';
}
/* Saltburn */
#recensioni-section a[href$='#saltburn']::before {
  content: 'Emerald Fennell | 2023';
}
/* The divergent series */
#recensioni-section a[href$='#the-divergent-series']::before {
  content: 'Neil Burger, Robert Schwentke | 2014-2016';
}
/* We live in time */
#recensioni-section a[href$='#we-live-in-time']::before {
  content: 'John Crowley | 2024';
}


#recensioni-section li a:hover {
  transform: translateX(10px);
}


/*-------------------------------------------------- Movie Review Page */

/* Producer & Review date */
section.active h3 span {
  display: flex !important;
  justify-content: space-between;
}
section.active h3 span br {
  display: none;
}

@media screen and (max-width: 576px) {
  section.active h3 span {
    flex-direction: column-reverse;
    gap: 5px;
  }
}

/* Image Credits */
p sup {
    font-size: 10px !important;
}